Dataset/BCCD/Annotations/*.xml
Dataset/BCCD/JPEGImages/*.jpg
Dataset/BCCD/ModelData/images/train/*.jpg
Dataset/BCCD/ModelData/images/val/*.jpg
Dataset/BCCD/ModelData/labels/train/*.txt
Dataset/BCCD/ModelData/labels/val/*.txt
Dataset/annotations_blood_cells.csv


.vscode
Blood-Detector/__pycache__
Blood-Detector/inference/glob.mp4
Blood-Detector/test_unit.py
Blood-Detector/test_q_dyn.py
Blood-Detector/test_q_static.py
Blood-Detector/to_quantized.py
Blood-Detector/detection.py
Blood-Detector/runs/FINAL
Blood-Detector/runs/exp6

yolov5/models/yolov5s.pt
yolov5/__pycache__
yolov5/models/__pycache__
yolov5/utils/__pycache__

deploy.py


